
---
import {Image} from 'astro:assets';
import fisher from '../assets/fish.png';
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>关于我</title>
</head>
<body>
<style lang="less">
  @import url(../styles/abody.css);
</style>
<div class="wrapper">
  <div class="header">
    <strong class="section_title"><span>基本介绍</span></strong>
    <div class="info">
      <div class="info_inner">
        <div class="base">
          <p>校建强</p>|<p>汉族</p>|<p>男</p>|<p>1989.04.04</p>|<p>isjianqiang@qq.com</p>
        </div>
        <p>职位：高级前端开发</p>
        <p>到岗：一周</p>
        <p>电话：15010587785</p>
        <p>学历：专科</p>
        <p>个站: <a href="https://boke.feyiyang.work/">boke.feyiyang.work</a></p>
      </div>
    </div>
    <div class="intro">
      <h4>## 简介：</h4>
      &emsp;熟练使用 vue全家桶、原生小程序、jq、es6、echart，熟悉了解 solid.js、react 技术栈、了解rust，热忠探索前端技术。负责开发过综合法律服务平台(2c)、范知识付费(2b)、大语文类(2c)产品、SAAS管理中后台、数据可视化产品等。<br />
      &emsp;熟练使用 axure、xmind、word、PS  总结输出文档，有一定理解产品能力。需求分析/处理问题能力强。
    </div>
  </div>
  <div class="works">
    <strong class="section_title"><span>工作经历</span></strong>
    <div class="mywork">
      <h4>## 2025.9 至 2026.2</h4>
      > 河北品达网络科技有限公司 > 高级前端工程师 <br />
      &emsp;负责公司electron牛市桌面端产品的日常维护，确保系统稳定性和性能。负责geo等产品网页端的新需求开发，优化用户体验和性能，提升产品的整体质量。<br />
      <h4>## 2020.9 至 2024.7</h4>
      > 深圳市法本信息技术股份有限公司 › 企业服务 › 高级前端工程师 <br />
      &emsp;泰康养老员福系统部前端: <br />
      &emsp;泰福利员工福利系统小程序及中台(资源系统&布局控制系统)迭代 - 原生小程序及VUE开发；实现小程序首页千人千面定制展示；<br />
      &emsp;ESP企业服务平台系统(员工信息管理&工单流程&大屏看板&权限管理) - VUE2技术栈开发，大屏数据看板 - 封装echart核心组件及数据处理方法；使用vue3从零搭建统一平台。<br />
      &emsp;E管家保全理赔系统维护升级 - JSP+JQ+Layui项目维护及新需求开发。
    </div>
    <div class="mywork">
      <h4>## 2024.9 至 2025.5</h4>
      > 中软国际 > 企业服务 > 高级前端工程师 <br />
      &emsp;昆仑数智开发设计部前端:<br />
      &emsp;使用vue技术栈开发基于pure-admin的工艺优化系统，对接后端SSE处理流数据开发AI问答智能体，使用echart开发数据大屏；<br/>
      &emsp;使用uniapp对原h5好客商城进行重构并发到app和微信小程序。<br />
      <h4>## 2020.9 至 2024.7</h4>
      > 深圳市法本信息技术股份有限公司 › 企业服务 › 高级前端工程师 <br />
      &emsp;泰康养老员福系统部前端: <br />
      &emsp;泰福利员工福利系统小程序及中台(资源系统&布局控制系统)迭代 - 原生小程序及VUE开发；实现小程序首页千人千面定制展示；<br />
      &emsp;ESP企业服务平台系统(员工信息管理&工单流程&大屏看板&权限管理) - VUE2技术栈开发，大屏数据看板 - 封装echart核心组件及数据处理方法；使用vue3从零搭建统一平台。<br />
      &emsp;E管家保全理赔系统维护升级 - JSP+JQ+Layui项目维护及新需求开发。
    </div>
    <div class="mywork">
      <h4>## 2018.6 至 2020.7</h4>
      > 北京清科文典科技有限公司 › K12在线教育 › 前端负责人   <br />
      工作描述：  <br />
      &emsp;参与需求评估，预估前端实现可行度及完成时间节点；对接前后端功能信息结构(接口和字段)；梳理页面功能和交互流程，负责主导前端技术选型、搭建前端项目、组织源码结构和组件化并参与开发制作具体过程。  <br />
      &emsp;以1到6年级为主的诗文学习小程序开发 - 原生小程序迭代升级重构； <br />
      &emsp;App内嵌H5的学习报告、学习记录，会员购买等功能模块开发 - VUE技术栈、部分需要对接APP方法；  <br />
      &emsp;公众号移动教师端、家长端、wap官网的技术选型、组织源码结构和常用组件开发 - VUE技术栈开发。 <br />
      &emsp;诗文典官网PC站开发 - NUXT技术栈开发;  <br />
      &emsp;微信h5小游戏开发(填字游戏) - uniapp实现。
    </div>
    <div class="mywork">
      <h4>## 2014.9 至 2018.4</h4>
      > 北京点法网信息技术有限公司 › 法律专业服务 › 前端负责人产品助理  <br />
      工作描述：  <br />
      &emsp;负责编写网站基础代码和通用插件开发，使用面向对象、闭包、模块化等概念提升项目开发效率。运用
      sass、h5、jqmobile 等移动端技术开发移动端 -- 实现微信订阅号内点法网、大咖说法的响应式。配合后台完成网站功能及交互。<br />
      协调技术部工作内容，分析行业及竞品，负责产品从 0 到 1 的原型规划(网站功能结构、原型)，整合领导及用户的需求设计 UE 和原型图、流程图，跟进项目进度；网站上线后用户体验的不断优化调整。
    </div>
    <div class="mywork">
      <h4>## 2012.6 至 2014.9</h4>
      > 北京云祥信息公司 › 技术服务 › 前端制作  <br />
      工作描述：  <br />
      &emsp;主要负责用前端语言html+css+jq制作网站静态页和js特效，应用自己对ps的掌握配合ui完成静态页制作，配合后台完成ajax调试接口。通过自己对html语义化的深入理解，开发兼容ie6的页面。  
    </div>
  </div>
  <div class="projects">
    <strong class="section_title"><span>项目经验</span></strong>
    <div class="project">
      <h4>## 2024.9 - 2025.6</h4>
      &emsp;~ 工艺优化&MES <br />
      &emsp;使用vue3基于pure-admin搭建开发炼化工艺优化系统，包含常用加工结果指标表格图表数据展示，用户系统管理等；使用antdesign-x等对接解析后端模型训练结果以SSE发送给前端的文本、markdown、图表等数据。<br />      
      &emsp;~ 好客e站内mpaas程序-好客商城 <br />
      &emsp;使用uniapp和uview对原有h5程序改造，对接后端完成商城各页面展示，对接app的sdk完成商城登录、支付列表获取、支付等接口完成程序功能，完成mpaas小程序和微信小程序的构建发布。
    </div>
    <div class="project">
      <h4>## 2020.9 - 2024.5</h4>
      &emsp;~ 泰福利 <br />
      &emsp;小程序 - 原生WXML、WXSS开发、组件封装、请求封装api、小程序API应用、首页非静态化 - 后端返回json结合小程序template组装首页布局和内容、webview对接外部系统。中台 - 需求更迭开发，vue2+elementui 资源管理配置系统、vuex vue-bus处理数据状态。<br />
      &emsp;~ ESP企业服务平台 <br />
      &emsp;vue2+elementui 配置侧管理系统界面(菜单、角色、业务管理、字典枚举等)增删改查功能实现、展示侧动态渲染table表头和form表单。大屏看板 - vue-gridlayout配置侧布局，展示侧封装echart组件及数据转换核心方法编写。封装axios请求api化、vuex vue-bus更新数据状态。 vue3+qiankun 利用微前端技术搭建统一平台,使用vue3开发通用业务组件。<br />
      &emsp;e管家保全作业项目 <br />
      &emsp;JSP项目新需求维护、嵌套smartBI展数。
    </div>
    <div class="project">
      <h4>## 2018.7至2020.8 ◈ 诗文典 </h4>
        项目产品描述：<br>
        &emsp;~ 诗文典家长端（公众号内）  <br>
        &emsp;展示学生诗文典app学习使用信息。<br>
        &emsp;~ 诗文典教师端（公众号内）   <br>
        &emsp;展示学生诗文典app学习使用信息，教材课件查找下载，作为toB端MVP(最小可行性产品)，有三个合作学校作为实验点。   <br>
        &emsp;~ 诗文典APP内嵌学习报告 - 完善app端图表数据展示的基础需求。 <br> 
        &emsp;~ 诗文典官网、商城、及代理人 - 完成营销需求。  <br>
        项目技术描述：  <br>
        &emsp;小程序原生WXML、WXSS开发、自定义组件使用封装常用组件模块、常用API使用。后期引入omi无侵入改造(data管理更方便)，编辑器改用vscode(less转wxss)，能力扩展后优化了开发效率。  <br />
        &emsp;vue-cli项目搭建及运行配置；vue-router前端路由封装和配置；对ui框架vant进行二次封装完成自用组件库；echart图表可视化展示；对axios进行封装将http请求暴露在api.js, 编写自用utils工具库, 微信公众号SDK使用，rem屏幕适配, nginx跨域使用, uniapp开发诗词类小游戏，Git版本管理等。  <br>
    </div>
    <div class="project">
      <h4>## 2014.9至2018.4 ◈ 点法网 </h4>
        项目产品描述：   <br>
        本项目为高通律师所主任与法制网合作的综合法律服务平台   <br>
        &emsp;负责整理领导需求，将需求理解转为功能结构图、逻辑流程图及原型PRD文档，主持站立会，协调部门间沟通协作，完成网站交付。陪同支持主任对外会议中的宣传工作，对点法网在律师圈内的知名度起到了很好的效果。协调ui支持市场部设计工作。  <br>
        项目技术描述：  <br />
        &emsp;PC 端 -- 集在线法律咨询，找律师，查法律文书，项目发布等于一体的大平台； 该项目用 Seajs.对js 进行模块化，自定义了公共组件应用到项目中。对面向对象、闭包、作用域等前端概念有了更深了解，同时技术思维上有所提升，有了初步的架构意识。<br />
        &emsp;微信订阅号 点法网、大咖说法 -- 以 rem 及百分比为单位实现移动端的响应式，运用 jqmobile 处理移动端事件。<br />
        积累了一些带队经验
    </div>
    <div class="project">
      <h4>## 2012.6至2014.9 ◈ 外包网站制作 </h4>
      &emsp;完成外包项目多个网站的制作、接触了不同类型网站，短周期练就一定手写代码速度及抗压能力；良好的语义规范及兼容性。
    </div>
  </div>
  <div class="edus">
    <strong class="section_title"><span>教育经历</span></strong>
    2008/09 -- 2010/09 河北能源职业技术学院 大专 数控技术 <br />
    2005/09 -- 2008/09 栾城县第二中学 高中
    <br /><br />
  </div>
  <Image src={fisher} class="fish" alt="" />
</div>
</body>
</html>
